html {
  min-height: 100%;
}

body {
  background: url(../img/bgs/runner.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ee6e73;
  min-height: 100%;
}

nav {
  background-color: transparent;
  /*hide nav while menu not in use*/
  display: none;
}

nav .brand-logo {
  display: none;
}

nav .brand-logo {
  display: none;
}

#info {
  font-size: 16px;
}

.progress {
  height: 30px;
}

.bleep {
  margin-top: 150px;
  padding: 50px 10px;
  background: #000000;
  background: rgba(38,50,56,0.6);
}

.bleep .btn {
  margin: 5px;
}

#codemzy {
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) 
{
  
  .bleep {
    margin-top: 10px;
    padding: 20px 10px;
  }
  
  #info {
    font-size: 14px;
  }
  
}

@media print
{
  
  #start, #stop, nav ul, #codemzy {
      display: none;
  }
  
  /*display nav for print only while menu not in use*/
  nav {
    display: block;
  }
    
  nav .brand-logo {
    display: inline-block;
  }
  
}