html {
  background: url(../img/bgs/runner.jpg) bottom center;
  background-size: cover;
  background-color: #7F8C8D;
  height: 100%;
}

body,html {
  margin: 0;
  padding: 0;
}

.progress {
    height: 30px;
}

.bleep {
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #000000;
    background: rgba(0,0,0,0.6);
}