html {
  background: url(../img/bgs/runner.jpg) bottom center;
  background-size: cover;
  background-color: #b3e5fc;
  height: 100%;
}

body,html {
  margin: 0;
  padding: 0;
}

nav {
  background-color: transparent;
  /*hide nav while menu not in use*/
  display: none;
}

nav .brand-logo {
  display: none;
}

nav .brand-logo {
  display: none;
}

#info {
  font-size: 16px;
}

.progress {
  height: 30px;
}

.bleep {
  margin-top: 150px;
  padding: 50px 10px;
  background: #000000;
  background: rgba(38,50,56,0.6);
}

.bleep .btn {
  margin: 5px;
}

@media print
{
  
  #start, #stop, nav ul, #codemzy {
      display: none;
  }
  
  /*display nav for print only while menu not in use*/
  nav {
    display: block;
  }
    
  nav .brand-logo {
    display: inline-block;
  }
  
}